@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Sree+Krushnadevaraya&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.sree-krushnadevaraya-regular {
  font-family: "Sree Krushnadevaraya", serif;
  font-weight: 400;
  font-style: normal;
}

.noto-sans {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.inner-container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

#ocura-supports-section {
  padding: 60px 0;
}

#ocura-supports {
  color: #054d1a;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
}

#ocura-supports-container {
  display: flex;
  gap: 20px;
  padding: 40px;
  overflow-x: scroll;
  /* Should be aligned left to the cards */
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #ccc transparent;
  scroll-snap-type: x mandatory;
}

.ocura-support-card {
  background: #f3eee6;
  border-radius: 39px;
  min-width: 290px;
  flex: 1;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  scroll-snap-align: left;
}

.support-title {
  font-size: 24px;
  padding: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid #00000025;
  z-index: 1;
  position: relative;
}
.support-body {
  font-size: 14px;
  padding: 20px;
  padding-top: 10px;
  z-index: 1;
  position: relative;
  /* color: #555; */
}

.bg-circle {
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 200px;
  color: #ebe5d6;
  /* z-index: -1; */
}

.scroll-button {
  width: 34px;
  height: 34px;
  border-radius: 100%;
  background: #ebe5d6;
  color: black;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll-button:hover {
  background: #d4cbb8;
  cursor: pointer;
}

.scroll-button:focus {
  outline: none;
}

#ocura-buttons-container {
  display: flex;
  justify-content: end;
  gap: 10px;
  padding-right: calc((100vw - 1240px) / 2);
}

.hide-scrollbar {
  /* overflow-x: scroll; */
  scrollbar-width: none !important; /* Firefox */
  -ms-overflow-style: none !important; /* Internet Explorer 10+ */
}
.hide-scrollbar::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

/* Animation for moving backgroundImage go left transition infinitely */
@keyframes moveBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -800px -800px;
  }
}

.background-move {
  animation: moveBackground 30s linear infinite;
}
